.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topbar {
    flex: 0 0 auto;
}

.timeline {
    flex: 0 0 300px;
    border-bottom: 1px solid var(--color-border);
}

.main {
    flex: 1;
    display: flex;
    min-height: 0;
}

.explorer {
    width: 300px;
    border-right: 1px solid var(--color-border);
    overflow: auto;
}

.details {
    flex: 1;
    overflow: auto;
}